.row {
  width: 90%;
  max-width: 1140px;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1 {
  width: 8.33333%;
  float: left;
}

.row .col-2 {
  width: 16.66667%;
  float: left;
}

.row .col-3 {
  width: 25%;
  float: left;
}

.row .col-4 {
  width: 33.33333%;
  float: left;
}

.row .col-5 {
  width: 41.66667%;
  float: left;
}

.row .col-6 {
  width: 50%;
  float: left;
}

.row .col-7 {
  width: 58.33333%;
  float: left;
}

.row .col-8 {
  width: 66.66667%;
  float: left;
}

.row .col-9 {
  width: 75%;
  float: left;
}

.row .col-10 {
  width: 83.33333%;
  float: left;
}

.row .col-11 {
  width: 91.66667%;
  float: left;
}

.row .col-12 {
  width: 100%;
  float: left;
}

.row *[class*=col-] {
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
}

h5 {
  font-size: 24px;
  line-height: 34px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
}

/* Forms and buttons */
button, button.primary, a.button.primary, button.success, a.button.success, input[type=submit], button.alert, a.button.alert, input[type=reset],
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 150%;
  /* 1 */
  margin: 0;
  /* 2 */
  -webkit-appearance: none;
  background: #FFFFFF;
  padding: 0 3px;
  color: #111111;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

button:focus, a.button.primary:focus, a.button.success:focus, input:focus[type=submit], a.button.alert:focus, input:focus[type=reset],
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  border-color: #7FDBFF;
}

button:disabled, a.button.primary:disabled, a.button.success:disabled, input:disabled[type=submit], a.button.alert:disabled, input:disabled[type=reset],
input:disabled,
optgroup:disabled,
select:disabled,
textarea:disabled {
  background-color: #DDDDDD;
}

select {
  padding-right: 24px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIgLz48L3N2Zz4=);
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

/* Remove the input type number arrows */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button, button.primary, a.button.primary, button.success, a.button.success, input[type=submit], button.alert, a.button.alert, input[type=reset], a.button {
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  line-height: 200%;
  color: #111111;
  padding: 0 20px;
}

button.primary, a.primary.button, input.primary[type=submit], input.primary[type=reset], a.button.primary {
  background: #0074D9;
  border-color: #0074D9;
  color: #fff;
}

button.success, a.success.button, input.success[type=submit], input.success[type=reset], a.button.success, input[type=submit] {
  background: #2ECC40;
  border-color: #2ECC40;
  color: #fff;
}

input.alert[type=submit], button.alert, a.alert.button, input.alert[type=reset], a.button.alert, input[type=reset] {
  background: #FF4136;
  border-color: #FF4136;
  color: #fff;
}

@media (max-width: 479px) {
  .row *[class*=col-] {
    float: none;
    width: 100%;
  }
}
/*# sourceMappingURL=microcss.css.map */